body {
    background-color: #abd699;
}
.navbar-light {
    background: #abd699;
}

.nav-font {
    font-family:'Oleo Script Swash Caps';
    font-size: 25px;
}

.title-size {
    font-size: 50px;
    font-family: 'Mochiy Pop One';
    color: #ffe26a;
}

.cardtext {
    font-size:35px;
    
}

.content1 {
    font-size:35px;
    font-family:'Metal';
    color: #16123f;
}

.food {
    text-align: center;
    color: black;
    font-family:'Staatliches';
    padding: 70px;
    margin: 40px;
    font-size:10vw;
}

.card {
    background-color: #ff5e6c;
    padding: 5px 5px 0px 5px;
    font-size: 20px;
    color: black;
}

.card-title {
    font-size: 25px;
    color: #A63A7A;
}

.hs {
    font-family: 'Orelega One';
    font-size: 70px;
    font-weight: 600;
}

.hardware {
    padding-top: 30px;
    padding-bottom:30px;
}

.title2 {
    color: #75c9b7;
}

/*@media screen and (max-width: 200px) {*/
/*  .cards {*/
/*    padding: 20px;*/
/*  }*/
/*}*/